.black h2{
    color: white;  
}

.blue p{
    color: white;
    padding-left: 0.5rem;
    
}

.blue img{
    height: 2rem;
    padding-left: 3rem;
}

.blue{
    background-color: rgb(2, 89, 251);
    display: flex;
    height: 8rem;
    align-items: center;
    justify-content: center;
}

.list-unstyled a{
    color: rgb(188, 186, 186);
}

nav li.active{
    background: lightblue;
}

nav li:hover {
  background: lightblue;
}

.card-image {
    width: 150px;
    height: 250px;
    object-fit: cover;
  
  }

  .sfondo {

    background-image: url(../src/assets/img/jumbotron.jpg);
    min-height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
  
  }